.navbar {
  background-color: #292622;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 1.5rem;
  background: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu-bars:hover {
  background-color: #d16318;
}
