.player-component-wrapper {
  display: flex;
  justify-content: space-between;
}

.player-text-wrapper {
  width: 15%;
}

.player-text-heading {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 33px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.player-text-paragraph {
  font-size: 18px;
  line-height: 28px;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.player-wrapper {
  width: 80%;
}

.video-player {
  width: 100%;
  height: auto;
}
